@tailwind base;
@tailwind components;
@tailwind utilities;

.imgPreview::-webkit-scrollbar {
  width: 5px; /* Scrollbar width */
}

.imgPreview::-webkit-scrollbar-track {
  background: #e1e1e1; /* Track color */
}

.imgPreview::-webkit-scrollbar-thumb {
  background-color: #4a90e2; /* Handle color */
  border-radius: 10px; /* Round the handle */
  border: 2px solid #e1e1e1; /* Padding around handle */
}

.imgPreview::-webkit-scrollbar-thumb:hover {
  background-color: #2e78d7; /* Handle hover color */

}

body {
  overflow: hidden;
}

::-webkit-scrollbar {
  @apply bg-gray-500 w-2;
}

::-webkit-scrollbar-thumb {
  @apply bg-white rounded-lg;
}

::-webkit-scrollbar-track {
  @apply bg-gray-800;
}

